@import "src/styles/colors";

.research {
  display: flex;
  align-items: center;

  padding: 0 10px;
  pointer-events: none;

  h3 {
    margin-bottom: 0;
    font-weight: 400;
  }
}

.researches-list {
  &__item {
    cursor: pointer;
    border: none !important;
    padding: 5px 5px 5px 20px;


    h3 {
      pointer-events: none;
    }


    &:first-child {
      margin-top: 10px;
    }

    &:hover {
      background-color: $blue-1;
    }

    &--active {
      background-color: $blue-1;
    }
  }

}
